.btn {
	border: none;
	padding: 5px 15px;
	text-decoration: none;
	min-width: 125px;
	min-height: 30px;
	font-size: 16px;
	cursor: pointer;

	&_primary {
		background: $red;
		color: $white;
	}

	//&:hover {
	//	animation: changeColor 0.3s forwards;
	//}
}


//@keyframes changeColor {
//
//	0% {
//		background-color: $red;
//	}
//
//	100% {
//		background-color: $black;
//	}
//}